
.about-section {
    position: relative;
    padding-top: 70px;
    padding-bottom: 30px;
}

.about-header {
    color: var(--text-color);
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    padding-bottom: 20px;
}

.col-about-image {
    display: flex;
    justify-content: center;
}

.about-img { 
    border-radius: 5%;
}

@media (max-width: 767px) {
    .about-section {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .about-img {
      padding-top: 0;
    }

    .col-about-image {
        display: none;
    }
}