
.stack-row {
    justify-content: center;
    padding-bottom: 50px;
}

.tech-icon-box {
    height: 125px;
    width: 125px;
    margin: 8px;
    padding: 8px;
    opacity: 0.93;
    border: 1.7px solid var(--border-color-stack);
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 5px 4px 3px var(--box-shadow-stack);
    overflow: hidden;
    transition: all 0.2s ease 0s;

    &:hover {
        transform: scale(1.05);
        overflow: hidden;
        border-color: var(--border-color-stack-hover);
    }
}

.tech-icon {
    font-size: 4.5em;
}

@media (max-width: 767px) {
    .tech-icon {
      margin: 10px;
    }
}