:root {
  color-scheme: dark;

  --background-color-first: light-dark(#FDFFFC, #191228);
  --background-color-second: light-dark(#F7FCFC, #0d0916);
  --background-gradient: linear-gradient(
    var(--background-color-first),
    var(--background-color-second)
  );

  --logo-image-color: light-dark(#000, #c770f0);

  --experience-image-background-color: light-dark(#F1DEA1, #F1DEA1);
  --experience-image-color: light-dark(#000, #000);

  --box-color: light-dark(#FFD69D, #04151f);
  --footer-background-color: light-dark(#2EC4B6, #070310);
  --preloader-background-color: light-dark(#FDFFFC, #0c0513);
  
  --button-background-color: light-dark(#E71D36, #623686);
  --button-background-color-hover: light-dark(#A81223, #6d20c5d7);
  --button-color: light-dark(#FDFFFC, var(--text-color));
  --button-color-hover: light-dark(#F7FCFC, var(--text-color));

  --home-icon-background: light-dark(#2EC4B6, var(--text-color));
  --home-icon-color: light-dark(#FDFFFC, var(--button-background-color));
  --home-icon-color-before: light-dark(#FDFFFC, #68187a);
  --home-icon-color-hover: light-dark(var(--button-background-color), var(--button-background-color));

  --box-shadow-experience: light-dark(#8C5200, #454444);
  --box-shadow-stack: light-dark(#C0F0EC, #5904a823);
  --box-shadow-project: light-dark(#C0F0EC, #77358875);
  --box-shadow-project-hover: light-dark(#A1E9E2, #8148908f);
  --box-shadow-navbar-sticky: light-dark(#1A6F66, #09051d2c);

  --border-color-stack:  light-dark(#218B80, #c889e6a2);
  --border-color-stack-hover: light-dark(#27A69A, #c573e6e1);

  --text-color: light-dark(#001524, #faf3dd);
  --text-color-secondary: light-dark(#280601, #F1DEA1);
  --imp-text-color: light-dark(#E71D36, #c770f0);

  --header-font-size: 2.7em;
  --header-font-weight: 700;

  --secondary-font-size: 1.2em;
  --secondary-font-weight: 500;

  --preloader-image: url(./Assets/pre.svg);
}

.important-text {
  color: var(--imp-text-color);
}

.main-header {
  text-align: left;
  color: var(--text-color);
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  padding-top: 10px;
}

button:focus {
  box-shadow: none;
}

.img-fluid {
  max-height: 400px;
  margin-top: 0px;
}

.social-icons {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

/* --------- */
/*  Preloader */
/* --------- */

@keyframes fadeOut {
  0% { 
      opacity: 1; 
      width: 100%;
      height: 100%;
  }
  99.99% { 
      width: 100%;
      height: 100%;
  }
  100% { 
      opacity: 0;
      width: 0%;
      height: 0%;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--preloader-background-color);
  background-image: var(--preloader-image);
  background-repeat: no-repeat;
  background-position: center;
}

.loaded {
  
  opacity: 1;
  z-index: 999999;
}

.loaded {
  animation: fadeOut .3s;
  animation-fill-mode: forwards;
  z-index: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}

/* --------- */
/* Projects */
/* --------- */

.btn-primary {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-color: var(--button-background-color);
}

.btn-primary:hover {
  color: var(--button-color-hover);
  background-color: var(--button-background-color-hover);
  border-color: var(--button-background-color-hover);
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
