html {
  --background-gradient: linear-gradient(
    #191228,
    #0d0916
  );


  --background-color: #191327;
  --box-color: #04151f;
  --footer-background-color: #070310;
  --preloader-background-color: #0c0513;

  --button-color: #623686;
  --button-color-hover: #6d20c5d7;
  --icon-color-before: #68187a;

  --box-shadow-experience: #454444;
  --box-shadow-stack: #5904a823;
  --box-shadow-project: #77358875;
  --box-shadow-project-hover: #8148908f;
  --box-shadow-navbar-sticky: #09051d2c;

  --border-color-stack: #c889e6a2;
  --border-color-stack-hover: #c573e6e1;

  --text-color: #faf3dd;
  --text-color-secondary: #F1DEA1;
  --imp-text-color: #c770f0;

  --header-font-size: 2.7em;
  --header-font-weight: 700;

  --secondary-font-size: 1.2em;
  --secondary-font-weight: 500;

  --preloader-image: url(./Assets/pre.svg);
}

.important-text {
  color: var(--imp-text-color);
}

.main-header {
  text-align: left;
  color: var(--text-color);
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  padding-top: 10px;
}

button:focus {
  box-shadow: none;
}

.img-fluid {
  max-height: 400px;
  margin-top: 0px;
}

.social-icons {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

/* --------- */
/*  Preloader */
/* --------- */

@keyframes fadeOut {
  0% { 
      opacity: 1; 
      width: 100%;
      height: 100%;
  }
  99.99% { 
      width: 100%;
      height: 100%;
  }
  100% { 
      opacity: 0;
      width: 0%;
      height: 0%;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--preloader-background-color);
  background-image: var(--preloader-image);
  background-repeat: no-repeat;
  background-position: center;
}

.loaded {
  
  opacity: 1;
  z-index: 999999;
}

.loaded {
  animation: fadeOut .3s;
  animation-fill-mode: forwards;
  z-index: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}

/* --------- */
/* Projects */
/* --------- */

.btn-primary {
  color: var(--text-color);
  background-color: var(--button-color);
  border-color: var(--button-color);
}

.btn-primary:hover {
  background-color: var(--button-color-hover);
  border-color: var(--button-color-hover);
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
